.navbar-container {
    width: 100%;
    background-color: #B6D4B9;
    height: 100px;
    padding-right: 4rem;

}

.item-detail__text-container-back {
    cursor: pointer;
    background-color: #B6D4B9;
    border-radius: 5%;
    border: none;
    color: #CF1B7D;
    font-weight: bold;
}