h6{
    border-radius: 50%;
    background-color: #CF1B7D;
    padding: 10%;
    margin: 2%;
    font-size: 38%;
}

.navbar__car {
    text-align: center;
    color: #000000;
    font-size: 1.3rem;
    padding: 5px;
    background-color: #B6D4B9;
    opacity: 0.9;
    margin: 16px 32px;
    display: flex;
    align-items: center;
}   

.navbar__car:hover {
        cursor: pointer;
        background-color: #CF1B7D;
    }


/*===== ESTILOS LG =====*/
@media only screen and (min-width: 768px) {
    .navbar__car {
        font-size: 1.7rem;
        border-radius: 0.375rem;;
        border: black 1px solid;
        padding: 1%;

    }
}